
@font-face {
  font-family: 'SourceSansPro-BlackIt';
  src: url('SourceSansPro-BlackIt.eot?#iefix') format('embedded-opentype'),  url('SourceSansPro-BlackIt.otf')  format('opentype'),
	     url('SourceSansPro-BlackIt.woff') format('woff'), url('SourceSansPro-BlackIt.ttf')  format('truetype'), url('SourceSansPro-BlackIt.svg#SourceSansPro-BlackIt') format('svg');
  font-weight: normal;
  font-style: normal;
}
