
@font-face {
  font-family: 'SourceSansPro-LightIt';
  src: url('SourceSansPro-LightIt.eot?#iefix') format('embedded-opentype'),  url('SourceSansPro-LightIt.otf')  format('opentype'),
	     url('SourceSansPro-LightIt.woff') format('woff'), url('SourceSansPro-LightIt.ttf')  format('truetype'), url('SourceSansPro-LightIt.svg#SourceSansPro-LightIt') format('svg');
  font-weight: normal;
  font-style: normal;
}
